.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(var(--background));
  height: inherit;
  width: inherit;

  .form-wrapper {
    width: 600px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    .login-page--actions{
      display: flex;
      flex-flow: row wrap;
      column-gap: 3rem;
      row-gap: 1rem;
    }
  }
}
