@use "/src/providers/theme/palette";
@use "/src/providers/theme/elevation";
@use "/src/providers/theme/typography";

// TODO: add sizing
// TODO: remove border on fill elevated tonal and link
.icon-button {
  @include palette.colorMode();
  @include elevation.elevation-shadow-0();
  @include typography.labelLarge();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: var(--radius-full);
  outline: none;
  padding-block: .375rem;
  user-select: none;

  &:is(:disabled, .disabled) {
    cursor: default;

    &.icon-button--fill {
      color: hsla(var(--on-surface), 0.38);
      border: .0625rem solid transparent;
      background-color: hsla(var(--on-surface), 0.12);
    }

    &.icon-button--outline {
      color: hsla(var(--on-surface), 0.38);
      border: .0625rem solid transparent;
      background-color: hsla(var(--on-surface), 0.12);
    }

    &.icon-button--link {
      border: .0625rem solid transparent;
      color: hsla(var(--on-surface), 0.38);
      background-color: transparent;
    }

    &.icon-button--tonal {
      color: hsla(var(--on-surface), 0.38);
      border: .0625rem solid transparent;
      background-color: hsla(var(--on-surface), 0.12);
    }
  }

  &:not(:disabled, .disabled) {
    cursor: pointer;

    &.icon-button--fill {
      &.icon-button--enable {
        color: hsl(var(--on-color));
        border: .0625rem solid hsl(var(--color));
        background-color: hsl(var(--color));
      }

      &:not(.icon-button--enable) {
        color: hsl(var(--color));
        border: .0625rem solid hsl(var(--surface-container-highest));
        background-color: hsl(var(--surface-container-highest));
      }

      &:active, &:focus {
        @include palette.state-layer(var(--on-color));
      }
    }

    &.icon-button--link {
      &.icon-button--enable {
        color: hsl(var(--color));
        border: .0625rem solid transparent;
        background-color: transparent;
        @include palette.state-layer(var(--color));
      }

      &:not(.icon-button--enable) {
        color: hsl(var(--on-surface-variant));
        border: .0625rem solid transparent;
        background-color: transparent;
        @include palette.state-layer(var(--on-surface-variant));
      }

    }

    &.icon-button--outline {
      &.icon-button--enable {
        //on inverse
        color: hsl(var(--surface-container-highest));
        border: .0625rem solid transparent;
        // inverse surface
        background-color: hsl(var(--on-surface-variant));
        @include palette.state-layer(var(--surface-container-highest));
      }

      &:not(.icon-button--enable) {
        color: hsl(var(--on-surface-variant));
        border: .0625rem solid hsl(var(--outline));
        background-color: transparent;
        @include palette.state-layer(var(--on-surface-variant));
      }
    }

    &.icon-button--tonal {
      &.icon-button--enable {
        color: hsl(var(--on-secondary-container));
        border: .0625rem solid transparent;
        background-color: hsl(var(--secondary-container));
        @include palette.state-layer(var(--on-secondary-container));
      }

      &:not(.icon-button--enable) {
        color: hsl(var(--on-surface-variant));
        border: .0625rem solid transparent;
        background-color: hsl(var(--surface-container-highest));
        @include palette.state-layer(var(--on-surface-variant));
      }
    }
  }
}
