.menu-section{
  //pointer-events: none;
  z-index: 200;
  &:not(:empty){
    display: block;
  }
  &:empty{
    display: none;
  }
  //pointer-events: none;
  .menu1 {
    position: absolute;
    user-select: none;
    pointer-events: auto;
    //&:empty{
    // pointer-events: auto;
    //}
  }
  .menu-simulator{
    display: inline-block;
    visibility: hidden;
    z-index: -1;
  }
}
