@use "/src/providers/theme/palette";
@use "/src/providers/theme/elevation";
@use "/src/providers/theme/typography";

// TODO: add sizing
// TODO: remove border on fill elevated tonal and link
// TODO: padding
.button {
  @include palette.colorMode();
  @include elevation.elevation-shadow-0();
  @include typography.labelLarge();
  //font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  text-align: center;
  //border: none;
  border-radius: var(--radius-full);
  outline: none;
  user-select: none;

  border-width: .0625rem;
  border-style: solid;

  &.button--full-width {
    width: 100%;
    flex: 1 1 fit-content;
  }

  &:is(:disabled, .disabled) {
    cursor: default;

    &.button--fill {
      color: hsla(var(--on-surface), 0.38);
      //border: .0625rem solid transparent;
      border-color: transparent;
      background-color: hsla(var(--on-surface), 0.12);
    }

    &.button--outline {
      color: hsla(var(--on-surface), 0.38);
      //border: .0625rem solid hsla(var(--outline), 0.12);
      border-color: hsla(var(--outline), 0.12);
      background-color: hsla(var(--surface), 1);
    }

    &.button--link {
      border-color: transparent;
      color: hsla(var(--on-surface), 0.38);
    }

    &.button--elevated {
      color: hsla(var(--on-surface), 0.38);
      //border: .0625rem solid hsla(var(--on-surface), 0.12);
      border-color: hsla(var(--on-surface), 0.12);
      background-color: hsla(var(--on-surface), 0.12);
    }

    &.button--tonal {
      color: hsla(var(--on-surface), 0.38);
      //border: .0625rem solid hsla(var(--on-surface), 0.12);
      border-color: hsla(var(--on-surface), 0.12);
      background-color: hsla(var(--on-surface), 0.12);
    }
  }

  &:not(:disabled, .disabled) {
    cursor: pointer;

    &.button--fill {
      @include elevation.elevation-shadow-0();
      color: hsl(var(--on-color));
      //border: .0625rem solid hsl(var(--color));
      border-color: hsl(var(--color));
      background-color: hsl(var(--color));


      &:hover {
        @include elevation.elevation-shadow-1();
      }

      &:active, &:focus {
        @include palette.state-layer(var(--on-color));
      }
    }

    &.button--link {
      // TODO: fix background
      color: hsl(var(--color));
      //border: .0625rem solid transparent;
      border-color: transparent;
      background-color: transparent;

      @include elevation.elevation-shadow-0();
      @include palette.state-layer(var(--color));
    }

    &.button--outline {
      color: hsl(var(--color));
      //border: .0625rem solid hsl(var(--outline));
      border-color: hsl(var(--outline));
      //background-color: transparent;
      background-color: hsl(var(--surface));
      @include elevation.elevation-shadow-0();

      @include palette.state-layer(var(--color));

    }

    &.button--elevated {
      color: hsl(var(--color));
      // surface container low
      //border: .0625rem solid hsl(var(--surface));
      border-color: hsl(var(--surface));
      background-color: hsl(var(--surface));
      @include elevation.elevation-shadow-1();
      @include palette.state-layer(var(--color));

      &:hover {
        @include elevation.elevation-shadow-2();
      }
    }

    &.button--tonal {
      @include elevation.elevation-shadow-0();
      color: hsl(var(--on-secondary-container));
      background-color: hsl(var(--secondary-container));
      //border: .0625rem solid hsl(var(--secondary-container));
      border-color: hsl(var(--secondary-container));

      @include palette.state-layer(var(--on-secondary-container));

      &:hover {
        @include elevation.elevation-shadow-1();
      }
    }
  }

  &.button-round {
    aspect-ratio: 1;
  }

  &:not(.button-round) {
    padding-block: .375rem;

    &.button-with-icon {
      gap: .5rem;

      &.button-with-icon-at-end {
        flex-direction: row-reverse;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1rem;
      }

      &.button-with-icon-at-start {
        padding-inline-end: 1.5rem;
        padding-inline-start: 1rem;
      }
    }

    &:not(.button-with-icon) {
      padding-inline: 1.5rem;
    }

  }
}
