@use "../../../providers/theme/typography";
//@use "../../../providers/theme/palette";

.label {
  display: inline-flex;
  justify-content : space-between;
  width : 100%;
  //transform : translateY(200px);

  label {
    @include typography.bodyLarge();
  }

  //&:not(:has(.input:disabled)) {
  //&:not(:has(.input:disabled)) {

  &:not(:focus-within) {
    label {
      color : hsl(var(--on-surface-variant));
    }
  }

  &:focus-within {
    label {
      color : hsl(var(--primary));
    }

    &:has(.input--wrapper[data-has-error="true"]) {
      label{
      color : hsl(var(--error));
      }
    }

  }

  //}

  &:has(.input:disabled) {
    label {
      color : hsla(var(--on-surface), 38%);
    }
  }
  &:not(:has(.input:disabled)){
    label{
      cursor: pointer;
    }
  }
}
