.setting-page {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  flex-flow: column;
  padding: 2rem 1.5rem;

  .section {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    .section-header {
      display: flex;
      align-items: center;
      justify-content: stretch;

      .section-title {
        padding-inline: 10%;
      }
    }
  }


}

.tags-input {
  position: relative;
  width: fit-content;

  .tags-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    top: 0;
    height: 100%;
    max-width: 100%;
    padding-inline: 1.125rem;
    padding-block-end: 20px;
    pointer-events: none;

    .chip {
      pointer-events: auto;
    }
  }

  //margin-block-end: 0;
}
