@use "palette";
@use "typography";
@use "elevation";
@use "transition";

.theme-provider {
  width: inherit;
  height: inherit;
  @include typography.bodyLarge();
}

//TODO: add z-index variables

//.scroller {
//  container: scrollbar-container / inline-size;
//}

*{
  transition: background-color 200ms, color 200ms;

  scrollbar-width: thin;
  //scrollbar-gutter: both-edges;
  //--scrollbar-size: 1rem;
  scrollbar-color: hsl(var(--on-surface-variant)) hsl(var(--surface-variant));

  //&::-webkit-scrollbar {
  //  width: var(--scrollbar-size);
  //}

  &::-webkit-scrollbar-track {
    background: hsl(var(--surface-variant));
    border-radius: var(--radius-full);
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(var(--on-surface-variant));
    border-radius: var(--radius-full);
  }
}

//@container scrollbar-container (max-width: 400px) {
//  .scroller {
//    &::-webkit-scrollbar {
      //--scrollbar-size: 0.5rem;
    //}
  //}
//}
