@mixin light-theme() {
  --primary                : var(--primary-40);
  --on-primary             : var(--primary-100);
  --primary-container      : var(--primary-90);
  --on-primary-container   : var(--primary-10);

  --secondary              : var(--secondary-40);
  --on-secondary           : var(--secondary-100);
  --secondary-container    : var(--secondary-90);
  --on-secondary-container : var(--secondary-10);

  --tertiary               : var(--tertiary-40);
  --on-tertiary            : var(--tertiary-100);
  --tertiary-container     : var(--tertiary-90);
  --on-tertiary-container  : var(--tertiary-10);

  --error                  : var(--error-40);
  --on-error               : var(--error-100);
  --error-container        : var(--error-90);
  --on-error-container     : var(--error-10);

  --warning                : var(--warning-40);
  --on-warning             : var(--warning-100);
  --warning-container      : var(--warning-90);
  --on-warning-container   : var(--warning-10);

  --success                : var(--success-40);
  --on-success             : var(--success-100);
  --success-container      : var(--success-90);
  --on-success-container   : var(--success-10);

  --background             : var(--natural-99);
  --on-background          : var(--natural-10);
  --surface                : var(--natural-99);
  --on-surface             : var(--natural-10);

  --surface-variant        : var(--natural-variant-90);
  --on-surface-variant     : var(--natural-variant-30);
  --outline                : var(--natural-variant-50);
  --outline-variant        : var(--natural-variant-80);
}

@mixin dark-theme() {
  --primary                : var(--primary-80);
  --on-primary             : var(--primary-20);
  --primary-container      : var(--primary-30);
  --on-primary-container   : var(--primary-90);

  --secondary              : var(--secondary-80);
  --on-secondary           : var(--secondary-20);
  --secondary-container    : var(--secondary-30);
  --on-secondary-container : var(--secondary-90);

  --tertiary               : var(--tertiary-80);
  --on-tertiary            : var(--tertiary-20);
  --tertiary-container     : var(--tertiary-30);
  --on-tertiary-container  : var(--tertiary-90);

  --error                  : var(--error-80);
  --on-error               : var(--error-20);
  --error-container        : var(--error-30);
  --on-error-container     : var(--error-90);

  --warning                : var(--warning-80);
  --on-warning             : var(--warning-20);
  --warning-container      : var(--warning-30);
  --on-warning-container   : var(--warning-90);

  --success                : var(--success-80);
  --on-success             : var(--success-20);
  --success-container      : var(--success-30);
  --on-success-container   : var(--success-90);

  --background             : var(--natural-10);
  --on-background          : var(--natural-90);
  --surface                : var(--natural-10);
  --on-surface             : var(--natural-90);

  --surface-variant        : var(--natural-variant-30);
  --on-surface-variant     : var(--natural-variant-80);
  --outline                : var(--natural-variant-60);
  --outline-variant        : var(--natural-variant-30);
}

.theme-provider {
  --primary-hue-default   : 260;
  --primary-hue           : 80;

  --primary-0             : calc(var(--primary-hue, --primary-hue-default) + 0), 0%, 0%;
  --primary-10            : calc(var(--primary-hue, --primary-hue-default) + 5), 100%, 18%;
  --primary-20            : calc(var(--primary-hue, --primary-hue-default) + 3), 58%, 28%;
  --primary-30            : calc(var(--primary-hue, --primary-hue-default) + 1), 43%, 38%;
  --primary-40            : calc(var(--primary-hue, --primary-hue-default) + 0), 34%, 48%;
  --primary-50            : calc(var(--primary-hue, --primary-hue-default) + 1), 40%, 57%;
  --primary-60            : calc(var(--primary-hue, --primary-hue-default) + 0), 55%, 68%;
  --primary-70            : calc(var(--primary-hue, --primary-hue-default) + 0), 87%, 79%;
  --primary-80            : calc(var(--primary-hue, --primary-hue-default) + 2), 100%, 87%;
  --primary-90            : calc(var(--primary-hue, --primary-hue-default) + 7), 100%, 93%;
  --primary-95            : calc(var(--primary-hue, --primary-hue-default) + 14), 100%, 96%;
  --primary-99            : calc(var(--primary-hue, --primary-hue-default) + 59), 100%, 99%;
  --primary-100           : calc(var(--primary-hue, --primary-hue-default) + 0), 0%, 100%;

  --secondary-hue-default : 80;
  --secondary-hue         : 80;

  --secondary-0           : calc(var(--secondary-hue, --secondary-hue-default) + 0), 0%, 0%;
  --secondary-10          : calc(var(--secondary-hue, --secondary-hue-default) + 5), 26%, 13%;
  --secondary-20          : calc(var(--secondary-hue, --secondary-hue-default) + 3), 18%, 22%;
  --secondary-30          : calc(var(--secondary-hue, --secondary-hue-default) + 1), 13%, 31%;
  --secondary-40          : calc(var(--secondary-hue, --secondary-hue-default) + 0), 11%, 40%;
  --secondary-50          : calc(var(--secondary-hue, --secondary-hue-default) + 1), 9%, 49%;
  --secondary-60          : calc(var(--secondary-hue, --secondary-hue-default) + 0), 12%, 60%;
  --secondary-70          : calc(var(--secondary-hue, --secondary-hue-default) + 0), 17%, 70%;
  --secondary-80          : calc(var(--secondary-hue, --secondary-hue-default) + 2), 27%, 81%;
  --secondary-90          : calc(var(--secondary-hue, --secondary-hue-default) + 7), 65%, 92%;
  --secondary-95          : calc(var(--secondary-hue, --secondary-hue-default) + 14), 100%, 96%;
  --secondary-99          : calc(var(--secondary-hue, --secondary-hue-default) + 59), 100%, 99%;
  --secondary-100         : calc(var(--secondary-hue, --secondary-hue-default) + 0), 0%, 100%;

  --tertiary-hue-default  : 340;
  --tertiary-hue          : 340;

  --tertiary-0            : calc(var(--tertiary-hue, --tertiary-hue-default) + 0), 0%, 0%;
  --tertiary-10           : calc(var(--tertiary-hue, --tertiary-hue-default) - 2), 48%, 13%;
  --tertiary-20           : calc(var(--tertiary-hue, --tertiary-hue-default) - 2), 33%, 22%;
  --tertiary-30           : calc(var(--tertiary-hue, --tertiary-hue-default) + 0), 25%, 31%;
  --tertiary-40           : calc(var(--tertiary-hue, --tertiary-hue-default) + 0), 21%, 41%;
  --tertiary-50           : calc(var(--tertiary-hue, --tertiary-hue-default) + 2), 19%, 50%;
  --tertiary-60           : calc(var(--tertiary-hue, --tertiary-hue-default) + 2), 25%, 61%;
  --tertiary-70           : calc(var(--tertiary-hue, --tertiary-hue-default) + 3), 37%, 72%;
  --tertiary-80           : calc(var(--tertiary-hue, --tertiary-hue-default) + 3), 63%, 83%;
  --tertiary-90           : calc(var(--tertiary-hue, --tertiary-hue-default) + 2), 100%, 92%;
  --tertiary-95           : calc(var(--tertiary-hue, --tertiary-hue-default) + 4), 100%, 96%;
  --tertiary-99           : calc(var(--tertiary-hue, --tertiary-hue-default) + 32), 100%, 99%;
  --tertiary-100          : calc(var(--tertiary-hue, --tertiary-hue-default) + 0), 0%, 100%;

  --error-0               : 0, 0%, 0%;
  --error-10              : 3, 71%, 15%;
  --error-20              : 3, 71%, 22%;
  --error-30              : 3, 71%, 32%;
  --error-40              : 3, 71%, 41%;
  --error-50              : 3, 71%, 52%;
  --error-60              : 3, 71%, 64%;
  --error-70              : 3, 71%, 74%;
  --error-80              : 3, 70%, 83%;
  --error-90              : 4, 71%, 92%;
  --error-95              : 0, 70%, 96%;
  --error-99              : 20, 100%, 99%;
  --error-100             : 0, 0%, 100%;

  --warning-0             : 0, 0%, 0%;
  --warning-10            : 50, 71%, 18%;
  --warning-20            : 50, 71%, 28%;
  --warning-30            : 50, 71%, 38%;
  --warning-40            : 50, 71%, 48%;
  --warning-50            : 50, 71%, 57%;
  --warning-60            : 50, 71%, 68%;
  --warning-70            : 50, 71%, 79%;
  --warning-80            : 50, 70%, 87%;
  --warning-90            : 51, 71%, 93%;
  --warning-95            : 47, 70%, 96%;
  --warning-99            : 67, 100%, 99%;
  --warning-100           : 0, 0%, 100%;

  --success-0             : 0, 0%, 0%;
  --success-10            : 136, 71%, 18%;
  --success-20            : 136, 71%, 28%;
  --success-30            : 136, 71%, 38%;
  --success-40            : 136, 71%, 48%;
  --success-50            : 136, 71%, 57%;
  --success-60            : 136, 71%, 68%;
  --success-70            : 136, 71%, 79%;
  --success-80            : 136, 70%, 87%;
  --success-90            : 137, 71%, 93%;
  --success-95            : 133, 70%, 96%;
  --success-99            : 153, 100%, 99%;
  --success-100           : 0, 0%, 100%;

  --natural-0             : 0, 0%, 0%;
  --natural-10            : 255, 7%, 11%;
  --natural-20            : 260, 3%, 19%;
  --natural-30            : 280, 2%, 28%;
  --natural-40            : 276, 3%, 37%;
  --natural-50            : 285, 2%, 47%;
  --natural-60            : 285, 2%, 57%;
  --natural-70            : 300, 2%, 67%;
  --natural-80            : 288, 5%, 78%;
  --natural-90            : 312, 9%, 89%;
  --natural-95            : 300, 19%, 95%;
  --natural-99            : 315, 100%, 99%;
  --natural-100           : 0, 0%, 100%;

  --natural-variant-0     : 0, 0%, 0%;
  --natural-variant-10    : 263, 13%, 12%;
  --natural-variant-20    : 263, 8%, 20%;
  --natural-variant-30    : 264, 7%, 29%;
  --natural-variant-40    : 260, 5%, 38%;
  --natural-variant-50    : 270, 4%, 47%;
  --natural-variant-60    : 264, 5%, 58%;
  --natural-variant-70    : 267, 7%, 68%;
  --natural-variant-80    : 270, 11%, 79%;
  --natural-variant-90    : 275, 24%, 90%;
  --natural-variant-95    : 275, 55%, 96%;
  --natural-variant-99    : 315, 100%, 99%;
  --natural-variant-100   : 0, 0%, 100%;

  @include light-theme();
}

@media (prefers-color-scheme : dark) {
  .theme-provider {
    @include dark-theme();
  }
}

.theme-provider.light-theme {
  @include light-theme();
}

.theme-provider.dark-theme {
  @include dark-theme();

  /*--surface: 264, 7%, 29%;*/
  /*--on-surface: 270, 11%, 79%;*/
  /*--surface-outline: 264, 5%, 58%;*/
  /*--on-surface-outline: 264, 7%, 29%;*/

  /*--background: 255, 7%, 11%;*/
  /*--on-background: 312, 9%, 89%;*/
}
