// TODO: add tracking

@mixin displayLarge() {
  line-height    : 4rem;
  font-size      : 3.5625rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin displayMedium() {
  line-height    : 3.25rem;
  font-size      : 2.8125rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin displaySmall() {
  line-height    : 2.75rem;
  font-size      : 2.25rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin headlineLarge() {
  line-height    : 2.5rem;
  font-size      : 2rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin headlineMedium() {
  line-height    : 2.25rem;
  font-size      : 1.75rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin headlineSmall() {
  line-height    : 2rem;
  font-size      : 1.5rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin titleLarge() {
  line-height    : 1.75rem;
  font-size      : 1.375rem;
  letter-spacing : 0;
  font-weight    : 400;
}

@mixin titleMedium() {
  line-height    : 1.5rem;
  font-size      : 1rem;
  letter-spacing : .009375rem;
  font-weight    : 500;
}

@mixin titleSmall() {
  line-height    : 1.25rem;
  font-size      : .875rem;
  letter-spacing : .1px;
  font-weight    : 500;
}

@mixin labelLarge() {
  line-height    : 1.25rem;
  font-size      : .875rem;
  letter-spacing : .1px;
  font-weight    : 500;
}

@mixin labelMedium() {
  line-height    : 1rem;
  font-size      : .75rem;
  letter-spacing : .03125rem;
  font-weight    : 500;
}

@mixin labelSmall() {
  line-height    : 1rem;
  font-size      : .6875rem;
  letter-spacing : .03125rem;
  font-weight    : 500;
}

@mixin bodyLarge() {
  line-height    : 1.5rem;
  font-size      : 1rem;
  letter-spacing : .03125rem;
  font-weight    : 400;
}

@mixin bodyMedium() {
  line-height    : 1.25rem;
  font-size      : .875rem;
  letter-spacing : .015625rem;
  font-weight    : 400;
}

@mixin bodySmall() {
  line-height    : 1rem;
  font-size      : .75rem;
  letter-spacing : .025rem;
  font-weight    : 400;
}
